button.btn-link{
    color: var(--dark-green)
}

button.btn-link:focus, button.btn-link:hover {
    color: black;
}

.DashboardPage-component>div:nth-child(2)>div>div>div>ol>div>div>svg>g {
    text-align: center;
    display: inline;
}

.DashboardPage-component>div:nth-child(2)>div>div>div>div>div>div>div:nth-child(2)>div {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.DashboardPage-component > div:nth-child(2) > div > div > div > div > div > div > div:nth-child(2) > div > svg  {
    margin-top: -50px;
}

.lead {
    font-size: 20px;
    font-family: var(--headings-font-family)
}

.summary-text{
    padding: 20px 60px;
}
