/* svg {
    display: inline;
    display: flex;
    text-align: center;
}

path{
    width: 400px;
    display: inline;
    text-align: center;
}

.recharts-surface{
    text-align: center;
} */

/* 
.recharts-sector{
    width: 300px; 
    height: 300px; 
    text-align: center;
} */

.DashboardPage-component>div:nth-child(2)>div>div>div>ol>div>div>svg>g {
    text-align: center;
    display: inline;
}

.DashboardPage-component>div:nth-child(2)>div>div>div>div>div>div>div:nth-child(2)>div {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.DashboardPage-component > div:nth-child(2) > div > div > div > div > div > div > div:nth-child(2) > div > svg  {
    margin-top: -50px;
}

.col-6 {
    display: inline;
}