body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue-green: #7Dcaac;
  --dark-green: #6a8d5a;
  --light-green: #a6c48d;
  --orange: #faab6b;
  --peach: #f5e7cd;
  --headings-font-family: 'Carrois Gothic SC', sans-serif;
  --main-text-font-family: 'Source Serif Pro', serif;
}

div {
  font-family: var(---headings-font-family);
}